Package: enigma2-plugin-extensions-plutotv
Version: 1.0
Description: PlutoTV for enigma2
Section: base
Priority: optional
Maintainer: OpenViX
Architecture: all
OE: enigma2-plugin-extensions-plutotv
License: GPL-2.0-or-later
Homepage: https://github.com/OpenViX/PlutoTV
Depends: python3-requests
Source: https://github.com/OpenViX/PlutoTV/blob/master/build.sh
